/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); */


@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');




body {
      font-family: "Roboto Mono", monospace;
      font-optical-sizing: auto;
      font-style: normal;
      margin: 0;
      padding: 0;
      text-align: center;
      height: 100vh;
      background: rgb(255, 255, 255);

     
      /* background-image: url("https://www.transparenttextures.com/patterns/ps-neutral.png"); */
      /* background-image: url("https://www.transparenttextures.com/patterns/stardust.png"); */
      /* background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png"); */
      /* background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png"); */
      /* background-image: url("https://www.transparenttextures.com/patterns/concrete-wall-2.png");*/
}


h1 {
      font-size: 1.6rem;
      font-weight: 900;
      margin: 1rem 0 0 0;
      padding: 0;
}

p {   
      font-weight: 700;
      font-size: 1rem;
      margin: 0.2rem 0 0 0;
      padding: 0;      
}

.full-link {
      display: block; /* Membuat tautan memenuhi seluruh area */
      width: 100%; /* Pastikan lebar tautan mengikuti lebar <td> */
      height: 100%; /* Pastikan tinggi tautan mengikuti tinggi <td> */
      text-decoration: none; /* Hilangkan garis bawah pada tautan */
      color: inherit; /* Gunakan warna teks dari elemen induk */
  }
  
.full-link:hover {
     background-color: #f3f4f6; /* Tambahkan efek hover jika diinginkan */
     color: #2563eb; /* Ubah warna teks saat hover */
}


#infoContainer {
      display: none;
}

#yearDiv {
      font-size: 1.2rem;
      font-weight: 700;
      color: rgb(36, 36, 36);
}

#leagueDiv {
      font-size: 1.2rem;
      font-weight: 600;
      color: rgb(36, 36, 36);
      margin: 0.2rem;
      padding: 0.2rem;
}
#scoreDiv {
      font-size: 1.2rem;
      font-weight: 700;
      color: rgb(36, 36, 36);
}


#chartdiv {
      background-color: transparent;
}

.chart-label {
      margin: 0;
      padding: 0;
}


a:visited {
    color: #6b7280; /* Warna untuk tautan yang sudah dikunjungi */
    text-decoration: underline; /* Tambahkan garis bawah jika diinginkan */
    font-style: italic; /* Opsional: ubah gaya font */
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #leagueDiv
    {
          display: block;
    }

    /* Sembunyikan elemen pada layar kecil */
    #yearDiv,
    #scoreDiv {
          display: none; 
    }
    #infoDiv, #leagueDiv {
          margin-top: -40px; /* Kurangi jarak atas */
          text-align: center; /* Pastikan teks tetap di tengah */
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {...}
/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {...} */
/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...} */
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    #chartdiv {
      height: 500px;
  }
}

@media only screen and (min-width: 1920px) {
    #chartdiv {
          height: 900px;
    }

    h1 {
          font-size: 4rem;
          margin: 2rem 0 0 2rem;
          padding: 0;
    }

    p {
          font-size: 2.2rem;
          margin: 0.2rem 0 0 2rem;
          padding: 0;
    }
}