<!DOCTYPE html>
<html lang="en">
<head>

    <meta name="robots" content="noindex">
    <meta name="googlebot" content="noindex">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    {{ $css := resources.Get "css/styles.css" }}
    {{ $style := $css | resources.Minify | resources.Fingerprint }}

    <link rel="stylesheet" href="{{ $style.RelPermalink }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    
    <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>

    {{ block "head" . }}{{ end }}
</head>
<body>
 	
	{{ block "main" . }}{{ end }}

    <!-- {{ $h2h := resources.Get "js/h2h.js" }}
    {{ $h2h := $h2h | resources.Minify | resources.Fingerprint }}

    <script src="{{ $h2h.RelPermalink }}"></script> -->

</body>
</html>