


{{ define "main" }}




<div class="chart">
	<h1 class="animated-title">Head to Head</h1>
	<style>
		.animated-title {
			animation: fadeIn 2s ease-in-out;
		}
		.animated-h2h {
			animation: fadeIn2 2s ease-in-out;
		}

		@keyframes fadeIn {
			from {
				opacity: 0;
				transform: translateY(-20px);
			}
			to {
				opacity: 1;
				transform: translateY(0);
			}
		}

		@keyframes fadeIn2 {
			from {
				opacity: 0;
				transform: translateY(20px);
			}
			to {
				opacity: 1;
				transform: translateY(0);
			}
		}

	</style>
	<p class="animated-h2h">{{ replace .Title "vs" "⚔️" }}</p>
	
	<!-- <div id="emojiContainer">
		<span class="emoji">⚽</span>
		<span class="emoji">⚽</span>
		<span class="emoji">⚽</span>
	</div> -->

	<!-- {{ partial "chart.html" . }} -->

	{{ .Content }}
	
</div>
    

{{ end }}