
{{ define "head"}}


<style>

.table-container {
  max-width: 800px;
  margin: 50px auto;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}


table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: #f9fafb;
}

th, td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #e5e7eb;
}

th {
  font-weight: 600;
  color: #4b5563;
}

td {
  color: #6b7280;
}

tr:hover {
  background-color: #f3f4f6;
}

tbody tr:last-child td {
  border-bottom: none;
}
</style>


{{ end }}



{{ define "main" }}


<ul>
  {{ $page_link := .Permalink }}
  {{ $tags := .Params.tags }}
  {{ range .Site.Pages }}
      {{ $page := . }}
      {{ $has_common_tags := intersect $tags .Params.tags | len | lt 0 }}
      {{ if and $has_common_tags (ne $page_link $page.Permalink) }}
          <li><a href="{{ $page.Permalink }}">{{ $page.Title }}</a></li>
      {{ end }}
  {{ end }}
</ul>

{{ range .Site.Sections }}
<div class="table-container">
  <table>
    <thead>
        <tr>
            <th><a href="{{ .Permalink }}">{{ .Title }}</a></th>
        </tr>      
        <tr>
        <th>Title</th>
        <th>Date</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      {{ range site.RegularPages | first 10 }}
        <tr>
          <td><a href="{{ .Permalink }}">{{ .Title }}</a></td>
          <td>{{ .Date.Format "2006-01-02" }}</td>
          <td>
              {{ range .Params.tags }}
                <span class="tag">{{ . }}</span>
              {{ end }}
          </td>
        </tr>
      {{ end }}
    </tbody>
  </table>
</div>
{{ end }}


{{ end }}